@import '../../styles/colors';
@import '../../styles/sizes';

.aboutWrap,
.contentWrap {
    width: 100%;
    height: 100%;
    color: $white-1;
}
.contentWrap{
    height: calc(100% - 64px);
    // overflow-y: scroll;
}
// .content{
    
//     z-index: -1;
// }
.particleBkground {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.aboutWrap {
    background: #2E383B;//$d-gray-1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    // overflow:auto;
}

.contentWrap {
    overflow-y:scroll;
    .content {
        // width: 80%;
        margin: 64px 128px;
        position:relative;
        min-height: 100%
        // height: 100%;
        
    }

    .title {
        font-size: $h1-2-5-fs;
        color: $orange-1;
    }

    .header,
    .subTitle {
        font-size: $h2-fs;
    }

    .header {
        font-weight: 700;
        margin-bottom: 24px;
    }

    .subTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;

        div {
            margin: 16px;
        }

        .tech {
            color: $orange-1;
        }

        .entre {
            color: $beige-1;
        }

        .biz {
            color: $techie-aqua;
        }
    }

    .section {
        margin: 32px 16px;
        font-size: $n-plus-fs + 2px;
    }

    .info {
        margin-top: 16px;
        
        line-height: 32px;
    }
    .footerWrap{
        height: 50%;
        width: 100%;
        position: relative;
    }
}

.mobile{
    .content{
        margin: 8px;
    }
    .subTitle{
        flex-direction: column;
        & > div{
            margin: 8px !important;
        }
    }
}