@import '../../styles/colors';
@import '../../styles/sizes';

.tigerlaunch {

    .subTitle {
        font-size: $h1-2-5-fs;
        font-family: 'RaidenShogun'
    }

    .infoLayer {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        text-align: center;
        color: $orange-2;
        padding: 64px;

        .infoSection {

            display: flex;
            height: 70%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $maroon;
            background: $orange-2;
            border-radius: 12px;
            width: 40%;
            min-width: 30%;
            margin: 24px;
            .info{
                line-height: 24px;
            }
            
        }

        .title {
            font-family: "RaidenShogunTit";
            padding: 16px;
        }

        .header,
        .info {
            width: 80%;
        }

        .header {
            font-size: $h1-5-fs;
            margin: 16px;
        }

        .subHeader {
            font-size: $h2-fs;
        }

        .info {
            margin: 8px;
        }

        .prizeRow {
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 50%;
            width: 80%;
            position: relative;
            margin: 16px 0px;
            .prizeCol {
                // height: 100%;
                width: 100%;
                text-align: center;
                flex: 1;

                .info {
                    margin: auto;
                    font-size: $h2-fs;
                    padding: 8px;
                }

                .prizeImg,
                img {
                    width: 100%; //480px;
                }
            }
        }
    }
}

.mobile{
    .infoLayer{
        padding: 0px;
        flex-direction: column;
        padding: 16px;

        .infoSection{
            width: 80%;
            height: 100%;
            text-align:left;
            // text-align: justify;
            // text-justify: inter-word;
        }
    }
    .info{
        // font-size: 4vmin !important;
    }
    // .prizeCol{
    //     height:33%;
    // }
    .prizeRow{
        width: 90% !important;
    }
    // .prizeImg{
    //     width: 33% !important;
    // }
}