$d-gray--2: #453d6b;
$d-gray--1: #2d2846;
$d-gray-0: #201d31;
$d-gray-1: #191725;
$d-gray-2: #171C1D;
$gray-1:#2E383B;
$orange-1: #F7904C;
$orange-2: #FDC05A;
$beige-1: #FCE8AF;
$white-1: #FFFFFF;
$techie-aqua: #11FFE2;
$maroon: #6A0017;
$purple: #A621D2;
$dark-purpur:#5D4AC9;
$violet: #CB2EBD;
$blue:#1598F4;
$aqua: #65CECC;
$peach: #F6E7D3;
$beige-2:#F0CA98;
$black-1 : #100D14;
$logopurple:#301B37;
