$d-gray--2: #453d6b;
$d-gray--1: #2d2846;
$d-gray-0: #201d31;
$d-gray-1: #191725;
$d-gray-2: #171C1D;
$gray-1:#2E383B;
$orange-1: #F7904C;
$orange-2: #FDC05A;
$beige-1: #FCE8AF;
$white-1: #FFFFFF;
$techie-aqua: #11FFE2;
$maroon: #6A0017;