@import '../../styles/colors';
@import '../../styles/sizes';


.homeContainer {
    display: flex;
    width: 100%;
    height: 1920px;
    background: url("../../assets/images/mainBackdrop.png");
}
.parallax-scroll-hook{
    &.mobile > div{
        height: calc(8.7 * 100%) !important; //8 * 100vh
    }
    
}

.button{
    text-align: center;
    background-color: $orange-1;
    padding: 4px;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    color: $white-1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: lighten($orange-1, 5%);
    }
}
.frontPanel {
    width: 40%;
    // min-width: 640px;
    // height: 90vh;
    margin-left: 64px;
    z-index: 999;
    // height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &.center{
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 24px;
        margin-left: 0px;
        // min-width: 640px;
    }
    div{
        margin: 4px 0px;
    }
    .title {
        color: $beige-1;
        font-size: $h1-fs;
        font-family: 'TwitchyTv';
        text-align: left;
    }

    .subTitle {
        color: $techie-aqua;
        font-size: $h2-fs;
        font-family: 'RaidenShogunTit';

        &.dates {
            color: $beige-1;
        }
    }

    .subText {
        color: $beige-1;
        font-size: $orange-2;

    }

}
.countdownWrap{
    border-radius: 12px;
    min-width: 440px;
    padding: 32px;
    width: 25%;
    color: $white-1;
    background: rgba(5,7,15,0.75);
    // background: linear-gradient(to bottom, rgba(5,7,15,0.75), transparent);
    text-align: center;
    // transform: translate3d(1200px, 200px, 3em);
    margin-left: 65%; 
    margin-top: 200px;
    filter: drop-shadow(0 0 0.75rem $techie-aqua);
    // box-shadow: 4px 8px rgba(0,0,0,0.25);
    .subTitle{
        margin-top: 32px;
        color: $orange-1;
        font-size: $h1-5-fs;
        font-family: 'RaidenShogunTit';
    }
    // @media screen and (max-width: 1600px) {
        
    //     transform: translate3d(1000px, 200px, 3em);
    // }
}
.countdown{
    // filter: blur(8px);
    width : 100%;
    font-size: $h1-fs;
    color:$white-1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .labels{
        font-size: $n-plus-fs;
    }

}

.stars {

    transform: rotate(25deg);
    right: -100px;
    top: -350px;
    width: 1515px;
    height: 1060px;

    span {
        position: relative;
        left: -100px;
        height: 5px;
        width: 100px;
        background: linear-gradient(to left, #fff 50%, transparent);
        animation: animate 1.7s linear infinite;
        display: block;
        border-radius: 50px;
    }

    span:nth-child(even) {
        opacity: 0;
    }

    @keyframes animate {
        0% {
            left: -100px;
        }

        100% {
            left: 1500px;
        }
    }
}

.particleBackground{
    background: $d-gray-2;
}

.title{
    font-size: $h1-fs - 16px;
    font-family: "TwitchyTv";
    text-align: center;
}
.celebrate, .whatsNew{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white-1;
    .title{
        margin: 36px;
    }
    .info{
        font-size: $n-plus-fs;
        width: 50%;
        line-height: 32px;
    }
}

.whys{
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    .cardRow{
        display: flex;
        justify-content: space-between;
        width: 75%;
        height: 320px;
        margin: 16px 32px;
        
    }
}

.images{
    max-width: 640px;
    min-width: 80px;
}
.bg-img{
    opacity: 0.65;
    z-index: -1;
}

.parallaxFooter{
    height: 80%;
    // @media screen and (max-width: 1600px) {
        
    //     //     transform: translate3d(1000px, 200px, 3em);
    // }
}

.mobile{
        
    .celebrate, .whatsNew{
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white-1;
        .title{
            margin: 12px;
        }
        .info{
            font-size: $normal-fs; //!important;
            width: 90%;
            line-height: 24px;
        }
    }
    .cardRow{
        width: 95%;
        height: 480px;
        margin: 16px 32px;
        
    }
}