@import "./styles/colors.scss";
@import "./styles/sizes.scss";
@font-face {
  font-family: 'TwitchyTv';
  src: local('TwitchyTv'), url(./fonts/Twitchy.TV.ttf) format('truetype');
}


@font-face {
  font-family: 'RaidenShogun';
  src: local('RaidenShogun'), url(./fonts/raidercrusader.ttf) format('truetype');
}

@font-face {
  font-family: 'RaidenShogunTit';
  src: local('RaidenShogunTit'), url(./fonts/raidercrusadertitle.ttf) format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div::-webkit-scrollbar {
  width: 10px;
}
div::-webkit-scrollbar-track {
  background-color: #ccc !important;
}
div::-webkit-scrollbar-thumb {
  background-color: #fff !important;
}

.mobile{
  // touch-action: none;

  // line-height: 16px;
  .title,.main-title{
      font-size: 7.5vw !important;//2.5rem;
      padding-bottom: 4.5vw !important;
      line-height: 10.5vw !important;

  }
  .header{
    font-size: 3.0vh !important;
  }
  .subTitle{
      font-size: 2.0vh !important;//1.2rem;
  }
  .info{
    font-size: 3.65vmin !important;
    // line-height: 12px !important;
    // text-align: justify;
    // text-justify: inter-word;
    width: 85%;
  }
  .subText,.section{
      font-size: 4vmin !important;
      line-height: 16px;
  }
}